.bottom-panel-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;

    background-image: url("../assets/mist-forest-background-back.png");
    background-size: contain;
    background-repeat: repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 14px;
        color: #163750;
    }
}