
/**

Room Information

**/

.room-info-container {
    grid-area: location;

    padding-top: 10px;
    background-color: black;
    width: 100%;

    .info-label {
        padding-left: 10px;
        text-align: left;
        font-size: 14px;
        color: lightgray;
        opacity: 0.4;
    }

    .room-title {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 25px;
        color: #aed1d3;
        border-bottom: 1px solid #aed1d3;
    }

    .room-description {
        padding: 10px;
        text-align: center;
        line-height: 1.3;
        padding-top: 10px;
        font-size: 18px;
        color: #aed1d3;
    }

    .room-players {
        color:#aed1d3;
    }
}

/* 

Movement Controls

*/

.controls-container {
    grid-area: movement;

    background-color: black;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 5px;
    
    .info-label {
        padding-left: 10px;
        text-align: left;
        font-size: 14px;
        color: lightgray;
        opacity: 0.4;
    }

    .error-label {
        color: red;
        height: 15px;
    }

    .controls {
        display: flex;
        height: calc(100% - 40px);
        align-items: center;
        justify-content: center;

        .icon {
            cursor: pointer;
            margin: 0 2.5px;
        }
    }
}

/* 

Chat

*/

.chat-container {
    grid-area: chat;

    background-color: black;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;

    .info-label {
        padding-left: 10px;
        text-align: left;
        font-size: 14px;
        color: lightgray;
        opacity: 0.4;
    }
}