.room-info-container {
    margin-top: 30px;
    padding-top: 10px;
    background-color: black;
    width: 100%;
    height: 200px;

    .room-title {
        font-size: 25px;
        color: #aed1d3;
        border-bottom: 1px solid #aed1d3;
    }

    .room-description {
        text-align: left;
        padding-top: 10px;
        font-size: 18px;
        color: #aed1d3;
    }
}