.title-bar-container {
    height: 15%;
    background-image: url("../assets/treeback.png");
    background-size: contain;
    background-repeat: repeat;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-name {
        padding-left: 5%;
        font-size: 30px;
        color: white;
    }

    .nav-links {
        justify-content: space-between;
        padding-right: 5%;

        .about-link {
            margin-right: 30px;
            
            text-decoration: none;
            color: #9fc0c2;
            font-size: 20px;

            &:hover {
                color: #49757a;
                border-bottom: .5px solid #49757a;
                cursor: pointer;
            }
        }
    
        .logout-link {
            text-decoration: none;
            color: #9fc0c2;
            font-size: 20px;


            &:hover {
                color: #49757a;
                border-bottom: .5px solid #49757a;
                cursor: pointer;
            }
        }
    }
    
}